@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    margin : 0 auto;
    color : #fff;
    background-size: cover; /* Assure que l'image couvre toute la page */
    height: 100vh;  /* Assure que la hauteur prend toute la fenêtre */
    overflow: hidden; /* Empêche le défilement */
}

header h1 {
    display: inline-block; /* Garde l'élément logo aligné à gauche */
}
.logo-container img {
    width: 90px; /* Ajuste la largeur selon ton besoin */
    height: auto; /* Garde les proportions */
    margin-left: 125px; /* Ajuste la valeur selon ton besoin */
    margin-top: 20px;
}

.mainbackground img {
    width: 100%;
    height: 100%;
    position: absolute; /* Permet de positionner le texte par-dessus */
    z-index: -1; /* Place l'image derrière le texte */
    top:0;
    left:0;
}

header nav {
    display: inline-block; /* Garde les éléments du menu alignés à droite */
    float:right; /* Fait flotter le menu à droite */
    margin-top: -30px; /* Déplace légèrement le menu vers le haut */
    position: relative; /* Permet de décaler l'élément sans affecter le flux normal */
    right: 120px; /* Déplace le menu vers la gauche */
}


header nav a {
    font-family: 'Roboto Slab', serif;
    text-decoration: none; /* Enlève le soulignement */
    color: #fff; /* Texte blanc */
    font-size: 12px; /* Ajuste la taille du texte à ton goût */
    padding: 0 20px; /* Espacement autour du texte (si nécessaire) */
    cursor: pointer; /* Ajoute un curseur pointer pour l'interaction */
    margin-left: -15px; /* Déplace le texte légèrement vers la gauche */
}

header nav a:hover {
    color:  #c1b086 /* Change la couleur au survol si nécessaire */
}
.banner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height:600px;
    padding-top: 81px;
    position: relative; /* Nécessaire pour positionner le ::after par rapport à cet élément */
    overflow: hidden; /* Cache tout ce qui dépasse */
}
.banner h1 {
    font-family: 'Roboto Slab', serif !important;
    font-size: 55px;
    color: white; /* Rendre le texte blanc */
    padding: 0; /* Supprimer le padding */
    background: none; /* Supprimer le fond */
    border: none; /* Supprimer la bordure */
    text-align: left; /* Aligne le texte à gauche */
    font-weight: normal; /* Force la police à être non-gras */
    margin-left: 190px; /* Décale le titre légèrement à gauche */
    position: relative; /* Nécessaire pour positionner le ::after par rapport à cet élément */
    z-index: 1; /* Placer le titre au-dessus du H */
}

.banner p {
    font-family: 'Roboto Slab', serif !important;
    font-weight: normal; /* Assurer que le H n'est pas en gras */
    font-size: 11.4px;
    width:  46.3%;
    line-height: 20px;
    color: #fff;
    margin-left:225px; /* Décale le titre légèrement à gauche */
    margin-top: -4px; /* Décale l'écriture vers le haut */  
    position: relative; /* Nécessaire pour positionner le ::after par rapport à cet élément */ 
    z-index: 1; /* Placer le titre au-dessus du H */
    text-align: justify; /* Justifier le texte */
}

#Home::after {
    content: 'H'; /* Le contenu du pseudo-élément : un grand H */
    font-family: 'Roboto Slab', serif;
    font-size: 306px; /* Taille du H */
    color: rgba(255, 255, 255, 0.2); /* Couleur avec un peu de transparence */
    position: absolute;
    top: 38.4%; /* Centrer le H à l'intérieur de la section */
    left: 24.35%;
    transform: translate(-50%, -50%); /* Centrer parfaitement le H */
    z-index: -1; /* Placer le H derrière le texte */
    font-weight: bold; /* Assurer que le H n'est pas en gras */
}

