@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&display=swap');
body {
    margin : 0 auto;
    color : #fff;
    background-size: cover; /* Assure que l'image couvre toute la page */
    height: 100vh;  /* Assure que la hauteur prend toute la fenêtre */
    overflow: hidden; /* Empêche le défilement */
    font-family: 'Roboto Slab', serif !important; /* Police de caractères par défaut */
}

header h1 {
    display: inline-block; /* Garde l'élément logo aligné à gauche */
}
.logo-container img {
    width: 90px; /* Ajuste la largeur selon ton besoin */
    height: auto; /* Garde les proportions */
    margin-left: 125px; /* Ajuste la valeur selon ton besoin */
    margin-top: 20px;
}

.mainbackground img {
    width: 100%;
    height: 100%;
    position: absolute; /* Permet de positionner le texte par-dessus */
    z-index: -1; /* Place l'image derrière le texte */
    top:0;
    left:0;
}

header nav {
    display: inline-block; /* Garde les éléments du menu alignés à droite */
    float:right; /* Fait flotter le menu à droite */
    margin-top: -30px; /* Déplace légèrement le menu vers le haut */
    position: relative; /* Permet de décaler l'élément sans affecter le flux normal */
    right: 120px; /* Déplace le menu vers la gauche */
}


header nav a {
    font-family: 'Roboto Slab', serif;
    text-decoration: none; /* Enlève le soulignement */
    color: #fff; /* Texte blanc */
    font-size: 12px; /* Ajuste la taille du texte à ton goût */
    padding: 0 20px; /* Espacement autour du texte (si nécessaire) */
    cursor: pointer; /* Ajoute un curseur pointer pour l'interaction */
    margin-left: -15px; /* Déplace le texte légèrement vers la gauche */
}

header nav a:hover {
    color:  #c1b086 /* Change la couleur au survol si nécessaire */
}
.banner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    height:600px;
    padding-top: 81px;
    position: relative; /* Nécessaire pour positionner le ::after par rapport à cet élément */
    overflow: hidden; /* Cache tout ce qui dépasse */
}
.banner h1 {
    font-family: 'Roboto Slab', serif !important;
    font-size: 55px;
    color: white; /* Rendre le texte blanc */
    padding: 0; /* Supprimer le padding */
    background: none; /* Supprimer le fond */
    border: none; /* Supprimer la bordure */
    text-align: left; /* Aligne le texte à gauche */
    font-weight: normal; /* Force la police à être non-gras */
    margin-left: 190px; /* Décale le titre légèrement à gauche */
    position: relative; /* Nécessaire pour positionner le ::after par rapport à cet élément */
    z-index: 1; /* Placer le titre au-dessus du H */
}

.banner p {
    font-family: 'Roboto Slab', serif !important;
    font-weight: normal; /* Assurer que le H n'est pas en gras */
    font-size: 11.4px;
    width:  46.3%;
    line-height: 20px;
    color: #fff;
    margin-left:225px; /* Décale le titre légèrement à gauche */
    margin-top: -4px; /* Décale l'écriture vers le haut */  
    position: relative; /* Nécessaire pour positionner le ::after par rapport à cet élément */ 
    z-index: 1; /* Placer le titre au-dessus du H */
    text-align: justify; /* Justifier le texte */
}

#Home::after {
    content: 'H'; /* Le contenu du pseudo-élément : un grand H */
    font-family: 'Roboto Slab', serif !important;
    font-size: 306px; /* Taille du H */
    color: rgba(255, 255, 255, 0.2); /* Couleur avec un peu de transparence */
    position: absolute;
    top: 38.4%; /* Centrer le H à l'intérieur de la section */
    left: 24.35%;
    transform: translate(-50%, -50%); /* Centrer parfaitement le H */
    z-index: -1; /* Placer le H derrière le texte */
    font-weight: bold; /* Assurer que le H n'est pas en gras */
}















.gall-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.gall-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 60vh;
}

.gall-gallery {
    display: flex;
    gap: 5px;
    margin-top: 30px;
    margin-left: 200px;
    position: relative;
}

.gall-gallery input {
    display: none;
}

.gall-gallery label {
    width: 33px;
    height: 390px;
    border-radius: 25px;
    border: 2px solid #c1b086;
    cursor: pointer;
    transition: width 1.5s ease, border-color 0.8s ease, opacity 0.6s ease;
    box-shadow: 2px 4px 10px black;
    background-size: cover;
    background-position: left;
    display: block;
    opacity: 0.6; /* Effet de transparence par défaut */
}

.gall-gallery input:checked + label {
    width: 705px;
    border: 2px solid #664f14;
    opacity: 1; /* Image agrandie sans transparence */
}

.gall-text-container {
    width: 100%;
    position: relative;
    bottom:260px;
    right: 1120px;
    font-family: 'Roboto Slab', serif !important;
}

.gall-text-container h1 {
    font-size: 20px;
    color: black;
    line-height: 1.6;
    text-align: left;
    margin-left: 55px;
    font-weight: normal;
    width: 200%;
}

.gall-text-container h2 {
    font-size: 9px;
    color: #555;
    line-height: 1.6;
    text-align: left;
    margin-left: 55px;
    width: 200%;
    margin-top: 30px !important;
    text-align: justify;
    position: relative;
    font-weight: normal;
}

.gall-text-container h2::before {
    content: "";
    display: block;
    width: 60px;
    height: 2.6px;
    background-color: #c1b086;
    position: absolute;
    top: -25px;
    left: 0;
    margin-top: 5px;
}

.gall-home-button {
    font-weight: normal;
    display: inline-block;
    margin-top: -500px;
    margin-right:   -950px;
    padding: 15px 30px;
    background-color: #c1b086;
    color: white;
    text-decoration: none;
    font-size: 7px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 5px 10px 35px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
    position: absolute;
}

.gall-home-button:hover {
    background-color: #c1b086;
}









/* Styles spécifiques à la section Restaurant */
#Restaurant {
    margin: 0;
    padding: 50px;
    background-color: white;
    color: black;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
    height: 100vh; /* Utilise toute la hauteur de l'écran */
}

.rest-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.rest-image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 20px;
    height: 60vh;
}

.rest-image-box {
    position: relative;
    border-radius: 15px;
    border: 2px solid #c1b086;
    overflow: hidden;
    box-shadow: 4px 4px 4px black;
}

.rest-image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box1 {
    width: 332px;
    height: 520px;
    margin-left: 45px;
}

.box2 {
    width: 323px;
    height: 187px;
    top: -40px;
    margin-left: 10px;
}
.box3 {
    width: 323px;
    height: 187px;
    top: -40px;
    margin-left: 10px;
}
.box4 {
    width: 323px;
    height: 187px;
    margin-top: 330px;
    right: 670px;
}
.box5 {
    width: 323px;
    height: 187px;
    margin-top: 330px;
    right:660px;
}

.rest-text-container {
    position: relative;
    top: -230px;
    left: -1800px;
    font-size: 9px;
}

.rest-text-container h1 {
    font-size: 20px;
    color: black;
    font-weight: normal;
    line-height: 1.6;
    text-align: left;
    margin-left: 405px;
    width: 100%;
}

.rest-text-container h1::before {
    content: "";
    display: block;
    width: 67px;
    height: 3px;
    background-color: #c1b086;
    position: absolute;
    top: -8px;
    left: 0;
    margin-left: 405px;
    margin-top: 10px;
}

.rest-text-container p {
    font-size: 11px;
    color: #555;
    line-height: 1.6;
    position: absolute;
    top: 80px;
    left: 405px;
    width: 60%;
    margin-left: 35px;
    margin-top: -7px;
}

.rest-home-button {
    font-weight: normal;
    display: inline-block;
    position: relative;  
    margin-top: -400px;
    padding: 15px 30px;
    background-color: #c1b086;
    color: white;
    text-decoration: none;
    font-size: 7px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
    margin-left: -1420px;
   
}

.rest-overlay {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: #c1b086;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(20px);
    transition: transform 0.5s ease-out, opacity 0.5s ease, visibility 0.5s ease;
}

.rest-overlay .rest-name {
    color: white;
    font-size: 18px;
    text-align: center;
    transform: translateY(10px);
    transition: transform 0.5s ease-out;
}

.description-overlay {
    top: 50%;
    height: 35%;
}

.description-overlay .rest-description {
    color: white;
    font-size: 11px;
    text-align: center;
    transform: translateY(-50px);
    transition: transform 0.5s ease-out;
}

.rest-image-box:hover .rest-overlay {
    opacity: 0.8;
    visibility: visible;
}

.rest-image-box:hover .rest-overlay .rest-name {
    transform: translateY(0);
}

.rest-image-box:hover .description-overlay .rest-description {
    transform: translateY(0);
}





#Rooms .rooms-content {
    display: flex;
    flex-direction: row; /* Alignement des images à gauche, texte à droite */
    align-items: center; /* Alignement vertical des éléments */
    justify-content: center; /* Centrer horizontalement le contenu */
    gap: 50px; /* Espacement entre les images et le texte */
    padding: 50px;
    height: 80vh; /* Utilise toute la hauteur de l'écran */
}

#Rooms .rooms-image-container {
    display: flex;
    justify-content: space-between; /* Espace égal entre les boîtes d'images */
    align-items: center;
    gap: 5px; /* Espacement entre les images */
    padding: 20px;
    height: 60vh; /* Hauteur des images */
}

#Rooms .rooms-image-box1,
#Rooms .rooms-image-box2,
#Rooms .rooms-image-box3 {
    width: 318px; /* Largeur fixe pour les images */
    height: 390px; /* Hauteur fixe pour chaque boîte */
    overflow: hidden; /* Cacher tout ce qui dépasse de la boîte */
    border-radius: 15px; /* Coins arrondis */
    border: 2px solid #c1b086; /* Bordure dorée */
    position: relative;
    left:50px;
    top:50px;
}

/* Style des images dans chaque boîte */
#Rooms .rooms-image-box1 img,
#Rooms .rooms-image-box2 img,
#Rooms .rooms-image-box3 img {
    width: 100%;
    height: 82%;
    object-fit: cover; /* Couvre tout l'espace de la boîte */
}

/* Texte sous chaque image (nom et prix) */
#Rooms .room-info {
    width: 100%;
    padding-left: 16px;
    box-sizing: border-box;
    margin-top: -4px;
    font-family: 'Roboto Slab', serif !important;    
}

/* Titres sous les images */
#Rooms .room-info h3 {
    font-size: 13px;
    color: #333;
}

/* Style pour le prix */
#Rooms .room-info p {
    font-size: 9px;
    color: #888;
}

/* Prix en gros */
#Rooms .room-info .price {
    font-size: 15px;
    font-weight: bold;
    color: #333;
}




/* Assurez-vous que le conteneur 'rooms-text-container' n'affecte que la page Rooms */
#Rooms .rooms-text-container {
    width: 100%;  
    position: relative; /* Enlever toute position absolue ici */
    font-family: 'Roboto Slab', serif !important;
}

#Rooms .rooms-text-container h1 {
    font-size: 20px;
    position: absolute; 
    color: black;
    font-weight: normal;
    line-height: 1.6;
    text-align: left;
   
    left: -995px;
    top: -230px;
    width: 200%;
    font-family: 'Roboto Slab', serif !important;
}

#Rooms .rooms-text-container h2 {
    font-size: 9px;
    color: #555;
    font-weight: normal;
    line-height: 1.6;
    text-align: left;
    width: 200%;
    padding-top: 5px;
    text-align: justify;
    top: -250px;
    
    left: -995px;
    position: absolute;
    font-family: 'Roboto Slab', serif !important;
}

/* Ligne avant le texte */
#Rooms .rooms-text-container h2::before {
    content: "";
    display: block;
    width: 60px;
    height: 2.5px;
    background-color: #c1b086;
    position: absolute;
    top: -15px;  
    left:0;
}



/* Bouton de retour à la page d'accueil */
#Rooms .room-home-button {
    font-weight: normal;
    display: inline-block;
    top: -500px;
    margin-left: 1010px;
    padding: 15px 30px;
    background-color: #c1b086; /* Couleur dorée */
    color: white;
    text-decoration: none;
    font-size: 8px;
    border-radius: 20px; /* Bords arrondis */
    border: 1px solid white; /* Contour blanc très fin */
    box-shadow: 5px 10px 35px rgba(0, 0, 0, 0.5); /* Ombre autour du bouton */
    transition: background-color 0.3s ease-in-out;
    position: relative;

}

/* Effet au survol du bouton */
#Rooms .room-home-button:hover {
    background-color: #c1b086; /* Légère variation au survol */
}









.about-content {
    display: flex;
    flex-direction: row; /* Images à gauche, texte à droite */
    align-items: center; /* Alignement vertical */
    justify-content: center; /* Centrer horizontalement */
    gap: 50px; /* Espacement entre images et texte */
    padding: 50px;
    height: 100vh; /* Utilise toute la hauteur de l'écran */
}

.about-image-container {
    position: relative; /* Permet le positionnement absolu des enfants */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; /* Espacement entre les images */
    padding: 20px;
    height: 60vh; /* Prend toute la hauteur de la fenêtre */
}

/* Encadré avec coins arrondis et bordure dorée */
.about-image-box {
    position: relative;
    width: 220px; /* Largeur fixe pour les images */
    height: 320px; /* Hauteur fixe pour le premier box (portrait) */
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #c1b086; /* Bordure dorée */
    box-shadow: 4px 4px 4px black; /* Effet d'ombre pour mieux ressortir */
    transition: transform 0.3s ease-in-out; /* Animation fluide pour zoom ET dézoom */
    margin-top : -100px;
    left : -80px;
}

.about-image-box:hover {
    transform: scale(1.3); /* Zoom léger au survol */
}

/* Style de l'image dans le premier encadré */
.about-box1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Permet de couvrir l'intégralité de l'espace */
}

/* Style de l'image dans le deuxième encadré */
.about-box2 {
    position: relative;
    width: 230px; /* Largeur pour l'image paysage */
    height: 160px; /* Hauteur plus petite pour le paysage */
    border-radius: 15px;
    border: 2px solid #c1b086;
    overflow: hidden;
    box-shadow: 4px 4px 4px black; /* Effet d'ombre pour mieux ressortir */
    margin-top : 110px;
    margin-left : -113px;
}

.about-box2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre tout l'encadré */
}

.about-text-container {
    width: 30%;
}

/* Style du texte */
.about-text-container h1 {
    font-size: 20px;
    color: black;
    font-weight: normal;
    line-height: 1.6;
    text-align: left;
    margin-left: -42px;
    font-family: 'Roboto Slab', serif;
}

.about-text-container h2 {
    position: relative;
    font-size: 10px;
    color: #555;
    font-weight: normal;
    line-height: 1.9;
    text-align: left;
    width: 135%;
    margin-left: -42px;
    margin-top: -45px ;
    padding-top: 1px; /* Espace entre la ligne et le texte */
    font-family: 'Roboto Slab', serif;
}

.about-text-container h2::before {
    content: "";
    display: block;
    width: 70px; /* Longueur de la ligne */
    height: 2.5px; /* Épaisseur de la ligne */
    background-color: #c1b086; /* Couleur dorée */
    position: absolute;

    left: 0; /* Aligné au début du texte */
    margin-top: -35px ;
}

.about-text-container p {
    font-size: 10px;
    color: #555;
    line-height: 1.6;
    text-align: left;
    margin-top: 35px !important;
    margin-left: -10px;
    width: 135%;
    text-align: justify; /* Justifier le texte */
    font-family: 'Roboto Slab', serif;
}

.about-p2 {
    margin-top: 20px  !important; /* Réduit l'espace entre les paragraphes */
}

.about-home-button {
    font-weight: normal;
    display: inline-block;
    margin-top: 40px; /* Espacement par rapport au texte */
    margin-left: -15px;
    padding: 15px 30px;
    background-color: #c1b086; /* Couleur dorée */
    color: white;
    text-decoration: none;
    font-size: 7px;
    border-radius: 20px; /* Bords arrondis */
    border: 1px solid white; /* Contour blanc très fin */
    box-shadow: 5px 5px 35px rgba(0, 0, 0, 0.5); /* Ombre autour du bouton */
    transition: background-color 0.3s ease-in-out;
}

.about-home-button:hover {
    background-color: #c1b086; /* Légère variation au survol */
}











/* Nouveau conteneur principal qui divise l'écran en deux parties égales */
.ame-main-container {
    position: relative;
    display: flex;
    flex-direction: column; /* Dispose les éléments en colonne */
    height: 100vh; /* Utilise toute la hauteur de l'écran */
}

/* Première moitié avec l'image */
.ame-image-container {
    width: 100%; /* L'image occupe toute la largeur */
    height: 58vh; /* La moitié haute de l'écran */
    overflow: hidden; /* Cache tout ce qui dépasse de l'image */
    border-bottom: 2px solid #c1b086; /* Bordure dorée entre l'image et la partie blanche */
    border-top: 2px solid #c1b086; /* Bordure dorée en haut de l'image */
    position: relative; /* Nécessaire pour positionner l'encadré bleu */
}

.ame-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre toute la zone sans déformation */
}

/* Blue Box */
.ame-blue-box {
    position: absolute; /* Positionné par rapport au conteneur parent */
    top: 60%; /* Centré verticalement */
    left: 67%; /* Centré horizontalement */
    transform: translate(-50%, -50%); /* Centrer parfaitement */
    width: 580px; /* Largeur de l'encadré bleu */
    height: 335px; /* Hauteur de l'encadré bleu */
    background-color: #3f9cc1; /* Couleur de l'encadré */
    border: 3px solid #c1b086; /* Bordure dorée */
    border-radius: 15px; /* Coins arrondis */
    z-index: 10; /* Assure qu'il soit au-dessus de l'image et du fond blanc */
    padding: 32px; /* Ajoute de l'espace autour du texte à l'intérieur de l'encadré */
    box-sizing: border-box; /* Assure que le padding ne dépasse pas de l'encadré */
    color: white; /* Couleur du texte dans l'encadré */
    box-shadow: 4px 4px 4px black; /* Effet d'ombre pour mieux ressortir */
    transition: opacity 0.3s ease-in-out; /* Animation fluide */
    opacity: 0.4; /* Légèrement transparent */
}

/* Quand on survole, il devient opaque */
.ame-blue-box:hover {
    opacity: 1;
}

/* Style pour le texte dans l'encadré */
.ame-blue-box h1 {
    font-size: 16px; /* Taille du texte */
    color: white; /* Couleur du texte */
    margin: 0; /* Supprime les marges par défaut */
    font-family: 'Roboto Slab', serif;
    font-weight: normal; /* Texte en gras */
    margin: 0 0 20px 0; /* Ajout de l'espace sous le titre */
    margin-top: 1px; /* Espace entre la bordure de l'encadré et le titre */
}

/* Style pour le texte dans l'encadré */
.ame-blue-box p {
    font-size: 10px; /* Taille du texte */
    color: white; /* Couleur du texte */
    margin: 0; /* Supprime les marges par défaut */
    font-weight: normal; /* Texte en gras */
    font-family: 'Roboto Slab', serif;
    line-height: 2; /* Espacement entre les lignes */
    text-align: justify; /* Justifier le texte */
}

/* Conteneur pour les icônes */
.ame-icons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colonnes égales */
    gap: 20px;
    padding: 30px 0;
    color: white; /* Assure que les icônes sont en couleur blanche sur fond bleu */
}

/* Style pour chaque icône */
.ame-icon-item {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px; /* Espace entre l’icône et le texte */
}

.ame-icon-item span {
    font-size: 9px; /* Taille de l'icône */
    color: #fff; /* Couleur de l'icône */
}

.ame-icon-item p {
    font-size: 9px;
    color: white; /* Couleur du texte sous les icônes */
    margin: 0;
    text-align: left;
}

/* Fond blanc */
.ame-empty-container {
    width: 100%;
    height: 50vh; /* La moitié basse de l'écran */
    background-color: white; /* Fond blanc */
    z-index: 5; /* Assure que le fond blanc reste derrière l'encadré bleu */
    position: relative; /* Important pour que les éléments absolus à l'intérieur soient positionnés correctement */
}

#Amenities {
    position: relative;
}


/* Bouton pour revenir à la page d'accueil */
.ame-home-button {
    position: absolute; /* Fixe le bouton pour qu'il ne bouge pas avec le contenu */

    bottom: 10px; /* Distance depuis le bas */
    right: 2px; /* Distance depuis la droite */
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    background-color: #c1b086;
    color: white;
    text-decoration: none;
    font-size: 7px;
    border-radius: 20px;
    border: 1px solid white;
    box-shadow: 5px 10px 25px rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease-in-out;
}